/* regole base*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", system-ui;
}


ul,ol {
list-style: none;
}

/* Main Content */

main{
    margin-top: 40px;
    font-size: 20px;
}

main strong{
    font-size: 25px;
}


.main-bar strong{
    font-size: 40px;
    vertical-align: 12px;
}

.conteiner{
    margin: 0 auto;
    max-width: 1024px;
    border-radius: 20px;
}

.content{
    background-color: bisque;
 }

ul h3{
    display: inline;
}

span{
    border-radius: 10px;
    font-size: 15px;
    color: white;
    max-width: 100px;
    background-color: cornflowerblue;
}

